<div class="jumbotron">
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Reset Password</h3>
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="form-group">
  <label for="resetPasswordEmail">Email</label>
    <input type="email" name="email" ngModel required #email="ngModel"
    class="form-control" id="resetPasswordEmail" placeholder="Enter Registered E-Mail">
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Reset<i class="fas fa-paper-plane"></i></button>
  </div>

</form>

  </div>
  </div>
</div>
