<style>
.row {
    position: relative;
    background: #fff url('https://assets.entrepreneur.com/content/3x2/2000/20190201161541-GettyImages-500047599.jpeg') center center;/*slide.jpg =>you image*/
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
</style>

<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Register</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="form-group">
    <label for="registerUsername">Username</label>
    <input type="text" name="username" ngModel required #username="ngModel"
    class="form-control" id="loginUsername" placeholder="Enter Username" >
  </div>
  <div class="form-group">
    <label for="registerEmail">Email address</label>
    <input type="email" name="email" ngModel required #email="ngModel"
    class="form-control" id="registerEmail" placeholder="Enter Email">

  </div>
  <div class="form-group">
    <label for="loginPassword">Password</label>
    <input type="password" name="password" ngModel required #password="ngModel"
    class="form-control" id="loginPassword" placeholder="Enter Password">
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Register</button>
  </div>


</form>

  </div>
  </div>
