<app-navigation></app-navigation>


    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>





    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay innerpage" style="background-image: url('./assets/images/parkinlot.jpg')">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1>Rent Your Space</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
<br><br>

<div class="jumbotron">
<div class="card col-lg-12">
  <br>
  <div class="card-header">
    Rent Your Block
  </div>
  <br>
 <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Select a category</label>
      <select name="type" ngModel required #type="ngModel"
      id="inputState" class="form-control">
        <option selected>Parking lot</option>
        <option>Terrace Space</option>
        <option >Compound Walls</option>
        <option>Stadiums</option>
        <option >Digital Locker</option>
        <option>Vacant Land</option>
      </select>
    </div>
    <div class="form-group col-md-8">
      <label for="inputloc">Location</label>
      <input type="text" name="location" ngModel required #location="ngModel"
      class="form-control" id="inputloc" placeholder="221B Baker Street">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Select a category</label>
      <select name="size" ngModel required #size="ngModel"
      id="inputState" class="form-control">
        <option selected>Square kilometers</option>
        <option>Square meters</option>
        <option >Square mile</option>
        <option>Square yards</option>
        <option >Square foot</option>
        <option>Square inch</option>

        <option >Hectare</option>
        <option>Acre</option>
      </select>
    </div>


    <div class="form-group col-md-4 ">
    <label for="inputval">Value</label>
    <input type="text" name="value" ngModel required #value="ngModel"
    class="form-control" id="inputval" placeholder="2 Acre">
  </div>


    <div class="form-group col-md-4 ">
    <label for="inputprice">Price</label>
    <input type="text" name="price" ngModel required #price="ngModel"
     class="form-control" id="inputprice" placeholder="Rs 500/Month">
  </div>


  </div>


  <div class="form-row">


    <div class="form-group col-md-4">
      <label for="inputZip">Mobile Number</label>
      <input type="text" name="number" ngModel required #number="ngModel"
      class="form-control" id="inputMob">
    </div>

     <div class="form-group col-md-4">
    <label for="inputAddress2">Negotialble </label>
    <select name="bool1" ngModel required #bool1="ngModel"
    id="inputState" class="form-control">
        <option  selected> Yes</option>
        <option >No</option>
      </select>
  </div>

    <div class="form-group col-md-4">
      <label for="inputCity">Multiple Rentee</label>
      <select name="bool2" ngModel required #bool2="ngModel"
       id="inputState" class="form-control">
        <option  selected> Yes</option>
        <option >No</option>
      </select>
    </div>

  </div>

  <div class="form-group col-md-12">
       <div class="col-md-12">
            <textarea name="message" ngModel required #message="ngModel" class="form-control" placeholder="Write your message." cols="30" rows="10"></textarea>
      </div>
   </div>




  <div class="form-group text-center">
    <div class="form-check">
      >
      <input class="form-check-input" type="checkbox" id="gridCheck" name="check" ngModel required #check="ngModel">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  </div>
</form>
</div>
</div>
<app-footer></app-footer>
